.date-complete
	display block
.date-complete__label
	font-size 22px
	color #2f1b15
	font-weight bold
	margin-right 17px
	padding-top 17px
	line-height 50px
	display block
	float left
.date-complete__input
	width 210px
	padding 0 0 0 10px
	background url("../images/area_bg.png") left bottom no-repeat
	border 0
	font-family "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
	font-size 30px
	font-weight 100
	color #231f20
	height 55px
	display block
	float left
